.List {
  display: flex;
  width: 283px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
