* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../public/assets/background.png");
  background-position: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Ocultar a seta de calendário no Firefox */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}
