.Logo {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5px;
}

.Logo p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Logo img {
  width: 200px;
  height: 117.5px;
}
