.Signin {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 100px;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
}

.PopUp {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;

  padding: 12px;
  gap: 10px;

  border-radius: 16px;
  background: rgba(255, 255, 255, 0.79);
  margin: 10px;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  gap: 12px;
}

.Title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.GoToSignUp{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
