.Filters {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 283px;
  gap: 10px;
  padding: 10px;

  border-radius: 12px;
  background: rgba(242, 15, 153, 0.3);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.Filters h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Colors {
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
}

.Labels{
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
}

.Filters select{
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #000;
  background: rgba(251, 251, 251, 0.00);
  font-family: Montserrat;
  font-size: 12px;
  text-align: center;
}